// Define variables for your color scheme

// For example:
$turquoise: #00FFFF;
$turquoise-accent: #00FFD4;
$blue: #26BCE7;
$blue-accent: #146177;
$purple: #68207C;
$purple-accent: #351040;
$pink: #D5024B;
$pink-accent: #6E0126;
$orange: #FF6825;
$orange-accent: #D23513;
