.welcome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: calc(95vh - 128px);
  padding: 10vh 20vh;
  h1 {
    font-family: 'Game Battles';
    font-size: 64px;
    background-image: linear-gradient(to right, $pink, $orange, $pink, $orange);
    background-size: 300% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientScroll 5s linear infinite;
    @keyframes gradientScroll {
        to { background-position: 100% 0% }
    }
  }
  p {
    font-size: 32px;
  }
  color: $white;
}

.button-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
