<div class="welcomebanner banner-animate">
  <h1>Buddie Up</h1>
  <br>
  <%= link_to "Login", new_user_session_path, class: "pop-btn pop-btn-pink" %>
  <%= link_to "Sign up", new_user_registration_path, class: "pop-btn pop-btn-orange" %>
</div>
