<div class="list-container">
  <div data-controller="search">
    <form action="/games" method="get" accept-charset="UTF-8" data-search-target="form" class="search__form">
      <input type="text" name="query" id="query" placeholder="Search for games..." data-search-target="searchInput" data-action="keyup->search#update" class="search__input">
    </form>

    <%= render 'gamelist', games: @games %>
  </div>
</div>
