.container__news {
  margin: 5vh 10vw;
}

.featured-article {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  .featured-article__text {
    text-shadow: 1px 2px $blue-accent;
  }
}

.flex__articles {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container__articles--horizontal {
  margin: 32px;
  border-right: 4px solid $blue;
  padding: 0 8px;
  width: 60vw;
}

.container__articles--vertical {
  margin: 32px;
  border-bottom: 4px solid $purple;
  padding: 8px 0;
  width: 30vw;
}

.card__article--wide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  img {
    width: 50%;
    object-position: center;
    object-fit: cover;
  }
}

.card__article--tall {
  img {
    width: 100%;
    object-position: center;
    object-fit: cover;
    margin-bottom: 16px;
  }
}

// .article__text {

// }
