div {
  border: 1px solid red;
}

.container__news {
  margin: 5vh 5vw;
}

.featured-article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  .featured-article__text {

  }
}

.flex__articles {

}

.container__articles--horizontal {

}

.container__articles--vertical {

}

.card__article--wide {

}

.card__article--tall {

}
