.banner {
  height: 100vh;
}

.banner-animate {
  background-color: $pink;
  background-image: linear-gradient(90deg, $pink, $orange, $pink, $orange);
  animation: bannerAnimation 15s linear infinite;
  background-size: 300% 100%;
}

@keyframes bannerAnimation {
    0% { background-position: 0 0% }
    100% { background-position: 100% 0 }
}
