.pop-btn {
  display: inline-block;
  margin: 0 4px;
  padding: 8px 16px;
  color: white;
  text-align: center;
  &:hover {
    color: $white;
  }
}

.pop-btn-pink {
  background-color: $pink;
  color: $white;
  box-shadow: 1px 1px $pink-accent, 2px 2px $pink-accent, 3px 3px $pink-accent;
}

.pop-btn-purple {
  background-color: $purple;
  color: $white;
  box-shadow: 1px 1px $purple-accent, 2px 2px $purple-accent, 3px 3px $purple-accent;
}

.pop-btn-orange {
  background-color: $orange;
  color: $white;
  box-shadow: 1px 1px $orange-accent, 2px 2px $orange-accent, 3px 3px $orange-accent;
}

.pop-btn-blue {
  background-color: $blue;
  color: $white;
  box-shadow: 1px 1px $blue-accent, 2px 2px $blue-accent, 3px 3px $blue-accent;
}
