.game-card-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.game-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  min-width: 400px;
  max-width: 400px;
  background-size: cover;
  background-position: center;
  transition: transform .2s;
  &:hover {
    transform: scale(1.02)
  }
}
