.container__chat {
  margin: 0 30vw;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.messages-container {
  height: calc(95vh - 268px);
}

.container__chat--input {
  position: fixed;
  bottom: 0;
  border-top: 4px solid $white;
  width: calc(100% - 60vw);
}

.chat--input {
  resize: none;
}

textarea.form-control {
  height: 128px;
}

.chat--buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
