.dropdown_style {
  color: red !important;
}

.select2-selection__rendered {
  line-height: 38spx !important;
}

.select2-container .select2-selection--single {
  height: 40px !important;
}

.select2-selection__arrow {
  height: 37px !important;
}
