// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "select2/dist/css/select2";
@import "jquery-bar-rating/dist/themes/css-stars";

// Your CSS partials
@import "components/index";
@import "pages/index";


* {
  margin: 0;
  padding: 0;
  font-family: "Game Station", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: $black;
  // background: linear-gradient(to top right, $blue-accent, rgba(104, 32, 124, 0.3), $purple),
  //             linear-gradient(to top left, $orange, rgba(213, 2, 75, 0.3), $pink),
  //             rgba(213, 2, 75, 0.3);
  color: $white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10vw;
}

ul {
  list-style-type: none;
}
