// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "select2/dist/css/select2";

// Your CSS partials
@import "components/index";
@import "pages/index";


* {
  margin: 0;
  padding: 0;
  font-family: "Game Station", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

body {
  overflow-x: hidden;
  background-color: $black;
  color: $white;
}

ul {
  list-style-type: none;
}
